# --- General options --- #

# url is the full website URL
# baseurl is the website's URL without the hostname

# If you are building a simple GitHub user page (http://username.github.io) then use these settings:
url: "http://ausevo.github.io"
baseurl: ""

# Name of website
title: Australasian Evolution Society

# Short description of your site
description: Promoting the scientific study of evolution

# --- Navigation bar options --- #

# List of links in the navigation bar
navbar-links:
  About: " "
  News: "news"
  Blog: "blog"
  Join!: "join"
  Contact us: "contact"
  # ECR Grants: "ECR_grants_2022"
  Conference: 
    # - Overview: "2023_conference"
    - Registration: "registration"
    # - Program: "pages/conference_2020"
    # - Venue: "Venue_2022"
    # - Social: "social_events_2022"
    # - Online: "online_2022"
    # - Research Excellence Awards: "excellence_awards"
    #- Local Dinners: "food" 
    #- Awards: "prizes"
    - Accom: "2023_accommodation"
   
  Resources:
    # - Opportunities: "jobs"
    # - AES Exec Team: "2023_exec"
    - AES Constitution: "constitution"
    - AES Minutes: "requestMins"  
    # - Useful Links: "links"      
    
# docs/aes_agm_2014.pdf  removed from resources
# Image to show in the navigation bar - image must be a square (width = height)
# Remove this parameter if you don't want an image in the navbar
# avatar: "/img/avatar-icon.png"
# avatar: "/img/AES_logo1.png"

# --- Footer options --- #

# Change all these values or delete the ones you don't want.
# Important: you must keep the "name" parameter, everything else you can remove
author:
  name: Australasian Evolution Society
  email: "austevolutionsociety@gmail.com"
  facebook: groups/95240533874/  # eg. daattali
  twitter: austevolsoc   # eg. daattali

# Select which links to show in the footer
footer-links-active:
  facebook: true
  email: true
  twitter: true

# How to display the link to the website in the footer
# Remove this if you don't want a link in the footer
url-pretty: "ausevo.com"  # eg. "deanattali.com/beautiful-jekyll"

# --- Misc --- #

# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
disqus: "ausevo"

# Fill in your Google Analytics ID to track your website using GA
google_analytics: "UA-75904828-1"

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "America/Vancouver"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 7

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Exclude these files from production site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
  - Vagrantfile

# prose.io config
prose:
  rooturl: '_posts'
  media: 'img'
  ignore:
    - 404.html
    - LICENSE
    - feed.xml
    - _config.yml
    - /_layouts
    - /_includes
    - /css
    - /img
    - /js
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Post title"
          placeholder: "Title"
          alterable: true
      - name: "subtitle"
        field:
          element: "textarea"
          label: "Subtitle"
          placeholder: "A description of your post."
          alterable: true
      - name: "date"
        field:
          element: "text"
          label: "Date"
          help: "Enter date of post."
          placeholder: "yyyy-mm-dd"
          alterable: true
      - name: "published"
        field:
          element: "checkbox"
          label: "Publish"
          help: "Check to publish post, uncheck to hide."

# Beautiful Jekyll / Dean Attali
# 2fc73a3a967e97599c9763d05e564189
